node_modules/
.git/
.git_/
build/
cache/
managed_cache/
stack_cache/
uploads/
upload/

.settings.php
dbconn.php
#application/.htaccess

# main files
/robots.txt
/.htaccess
.idea
*.sql
*.log
*.rar
*.zip
*.tar
*.gz
*.tar.gz
*.*.gz
Thumbs.db
sitemap*.xml
*.txt
test*/
!test_dev
yandex_*.html
*.7z
known_hosts

test/
assets/