//fix
$whatsapp-green: #25D366;
//site colors
$text-color: #222;
$orange: #f3a313;
$main-color: #368733;
$second-color: #5EAF5B;
$second-color-active: #0E5F0B;

$block-normal-color: #D0FACE;
$block-active-color: #368733;
$block-hover-color: #EEFFEC;

//$second-color-active: #EEFFEC;
$error-color: #ff1a4a;
$light-border: #e6e6e6;
$dns-light-border: #eaeaea;
$border-radius-button: 30px;