mixin companyHistoryItem(item)
    .company-history-list-item
        .company-history-list-item__title=item.title
        .company-history-list-item-content
            .company-history-list-item__text=item.text
            img(src=item.image).company-history-list-item__img