extends include/layer
include include/mixin/moreNewsItem

block contents
    .container
        include include/block/breadcrumbs
        h1.site-title Вкусная и полезная еда
        .news-detail-image
            img(src="/assets/images/news_detail_picture.png")
        .news-detail-description
            h2 Наше дело не так однозначно, как может показаться.
            p Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих технологий представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как независимые государства подвергнуты целой серии независимых исследований.
            p Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих технологий представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как независимые государства подвергнуты целой серии независимых исследований.
            ul
                li Наше дело не так однозначно;
                li Наше дело не так однозначно;
                li Наше дело не так однозначно;
                li Наше дело не так однозначно;
            div
                img(src="/assets/images/news_detail_1.png")
                img(src="/assets/images/news_detail_1.png")
            h2 Наше дело не так однозначно, как может показаться.
            p Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих технологий представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как независимые государства подвергнуты целой серии независимых исследований.
            p Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих технологий представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как независимые государства подвергнуты целой серии независимых исследований.
        .more-news-container
            .more-news-header
                .more-news-title Почитать еще
                a(href="/news.html").more-news-all-article Все статьи
            .more-news-slider.swiper
                .more-news.swiper-wrapper
                    -
                        var moreNews = [
                            {
                                title: 'Вкусная и полезная еда ',
                                description: 'Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих.',
                                image: '/assets/images/news_more_item.png',
                            },
                            {
                                title: 'Вкусная и полезная еда ',
                                description: 'Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих.',
                                image: '/assets/images/news_more_item.png',
                            },
                            {
                                title: 'Вкусная и полезная еда ',
                                description: 'Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих.',
                                image: '/assets/images/news_more_item.png',
                            },
                            {
                                title: 'Вкусная и полезная еда ',
                                description: 'Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих.',
                                image: '/assets/images/news_more_item.png',
                            },
                        ]
                    each item,index in moreNews
                        +moreNewsItem(item)
                .swiper-pagination