doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://kit.fontawesome.com/33cf5fcfbe.js" crossorigin="anonymous")

        title Вёрстка
    body
        ul
            li
                a(href="home.html") Главная страница
            li
                a(href="news.html") Новости
            li
                a(href="vacancy.html") Вакансии
            li
                a(href="about.html") О комбинате
            li
                a(href="child.html") Детям
            li
                a(href="contacts.html") Контакты
            li
                a(href="purchases.html") Закупки
            li
                a(href="detail_news.html") Детальная новость
            li
                a(href="menu_index.html") Меню (главная)
            li
                a(href="menu_school.html") Меню для школ
            li
                a(href="menu_camp.html") Меню для лагерей
            li
                a(href="service_index.html") Услуги (главная)
            li
                a(href="recipes.html") Рецепты