extends include/layer
include include/mixin/newsItem

block contents
    .container
        include include/block/breadcrumbs
        h1.site-title Новости
        .news-list
            -
                var news = [
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                    {
                        time: '01.02.2023',
                        title: 'Вкусная и полезная еда',
                        description: 'С другой стороны, семантический разбор внешних противодействий напрямую зависит от первоочередных требований. Противоположная точка зрения подразумевает, что элементы политического процесса ограничены исключительно образом мышления. ',
                        href: '/news.html',
                        image: '/assets/images/news_article.png',
                    },
                ];
            each item, index in news
                +newsItem(item)
        include include/block/pagination