extends include/layer
include include/mixin/recipeElement

block contents
    .container
        include include/block/breadcrumbs
        h1.site-title Рецепты
        -
            var recipes = [
                {
                    categoryName: 'Первые',
                    items: [
                        {
                            name: 'Пудинг из индейки запеченный (на 4 порции)',
                            ingredients: [
                                'Фарш из индейки – 270 гр',
                                'Яйцо – 1 шт',
                                'Молоко – 140 мл',
                                'Крупа манная – 3 ст.л',
                                'Сухари – 1 ст.л',
                                'Масло растительное – 5мл',
                                'Соль – по вкусу',
                            ],
                            steps: [
                                'В фарш из индейки добавить молоко, яйцо, манную крупу, хорошо вымешать либо взбить блендером.Противень смазать растительным маслом и посыпать сухарями.',
                                'Выкладываем готовую массу, разравниваем и запекаем в духовке до образования румяной корочки, при температуре 180С на 45 - 50 минут.'
                            ],
                        }
                    ],
                },
                {
                    categoryName: 'Вторые блюда',
                    items: [
                        {
                            name: 'Пудинг из индейки запеченный (на 4 порции)',
                            ingredients: [
                                'Фарш из индейки – 270 гр',
                                'Яйцо – 1 шт',
                                'Молоко – 140 мл',
                                'Крупа манная – 3 ст.л',
                                'Сухари – 1 ст.л',
                                'Масло растительное – 5мл',
                                'Соль – по вкусу',
                            ],
                            steps: [
                                'В фарш из индейки добавить молоко, яйцо, манную крупу, хорошо вымешать либо взбить блендером.Противень смазать растительным маслом и посыпать сухарями.',
                                'Выкладываем готовую массу, разравниваем и запекаем в духовке до образования румяной корочки, при температуре 180С на 45 - 50 минут.'
                            ],
                        }
                    ],
                },
                {
                    categoryName: 'Десерты',
                    items: [
                        {
                            name: 'Пудинг из индейки запеченный (на 4 порции)',
                            ingredients: [
                                'Фарш из индейки – 270 гр',
                                'Яйцо – 1 шт',
                                'Молоко – 140 мл',
                                'Крупа манная – 3 ст.л',
                                'Сухари – 1 ст.л',
                                'Масло растительное – 5мл',
                                'Соль – по вкусу',
                            ],
                            steps: [
                                'В фарш из индейки добавить молоко, яйцо, манную крупу, хорошо вымешать либо взбить блендером.Противень смазать растительным маслом и посыпать сухарями.',
                                'Выкладываем готовую массу, разравниваем и запекаем в духовке до образования румяной корочки, при температуре 180С на 45 - 50 минут.'
                            ],
                        }
                    ],
                },
            ];
        each item,index in recipes
            +recipeElement(item)