extends include/layer
include include/mixin/vacancyItem

block contents
    .container
        include include/block/breadcrumbs
        h1.site-title Вакансии
        .vacancy-list
            -
                var vacancyList = [
                    {
                        name: 'Кондитер',
                        money: 'от 25 800 до 33 500 руб. на руки',
                        description: 'Требуются повара-кондитеры в школьные столовые города.<br>Подберём для вас наиболее удобный вариант рядом с домом.',
                        required: [
                            'Приготовление блюд по меню, согласно технологическим картам (выпечка, напитки, первые, вторые блюда, гарниры);',
                            'Приготовление заготовок на следующий день;',
                            'Ссоблюдение санитарных норм и правил, правил личной гигиены.',
                        ],
                    },
                    {
                        name: 'Кондитер',
                        money: 'от 25 800 до 33 500 руб. на руки',
                        description: 'Требуются повара-кондитеры в школьные столовые города.<br>Подберём для вас наиболее удобный вариант рядом с домом.',
                        required: [
                            'Приготовление блюд по меню, согласно технологическим картам (выпечка, напитки, первые, вторые блюда, гарниры);',
                            'Приготовление заготовок на следующий день;',
                            'Ссоблюдение санитарных норм и правил, правил личной гигиены.',
                        ],
                        requirements: [
                            'Среднее профессиональное образование;',
                            'Медицинская книжка с допуском к работе;',
                            'Можно без опыта работы.',
                        ],
                        rules: [
                            'Официальное трудоустройство;',
                            'Своевременная выплата заработной платы 2 раза в месяц;',
                            'Отпуск летом во время школьных каникул;',
                            'Столовые во всех районах города.',
                        ],
                    },
                ]
            each item, index in vacancyList
                +vacancyItem(item)