.pagination
    .pagination-item
        a(href="/").pagination-link
            img(src="/assets/images/arrow-left.svg")
    .pagination-item
        a(href="/").pagination-link 1
    .pagination-item
        a(href="/").pagination-link 2
    .pagination-item.active
        a(href="/").pagination-link 3
    .pagination-item
        a(href="/").pagination-link 4
    .pagination-item
        a(href="/").pagination-link
            img(src="/assets/images/arrow-right.svg")