ol.requirements-list
    li.requirements-list-item
        a(href="").requirements-list-link Сан.Пин 2.3/2.4.3590-20 «Санитарно-эпидемиологические требования к организации общественного питания»
    li.requirements-list-item
        a(href="").requirements-list-link МР 2.4.0179-20 «Рекомендации по организации питания для обучающихся образовательных организаций»
    li.requirements-list-item
        a(href="").requirements-list-link Приложение №6 к СанПиН 2.3/2.4.3590-20 «Перечень пищевой продукции, которая не допускается при организации питания детей»