.footer {
  &-row {
    display: flex;

    @media (max-width: 810px) {
      flex-direction: column;
    }

    &:last-child {
      padding: 20px;
    }
  }

  &-wrapper {
    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
    padding: 25px 45px;

    @media (max-width: 810px) {
      padding: 10px;
    }
  }

  &-logo {
    &-image {
      max-width: 174px;

      @media (max-width: 810px) {
        max-width: 110px;
        display: block;
        margin: auto auto 20px auto;
      }
    }
  }
}