.header-address {
  margin: auto 0;

  &-item {
    padding-left: 35px;
    position: relative;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    &:not(:last-child) {
      margin-bottom: 21px;
    }

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      display: block;
      width: 20px;
      height: 25px;
      background-image: url("/assets/images/gps.svg");
    }

    @media (max-width: 1263px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}